$barriers-box-shadow: rgb(175, 172, 146);
$hover-yellow-background: rgb(0, 166, 166);
$hover-blue-background: rgb(253, 107, 180);
$barrier-yellow-background: rgb(24, 85, 253);
$barrier-blue-background: rgb(247, 16, 155);

$top-linear-gradient-color: black;
$bottom-linear-gradient-color: rgb(45, 60, 87);

$table-background-color: black;
$table-shadow: rgb(91, 103, 237);

$circles-background-color: rgb(21, 21, 87);
$circles-shadow: rgb(238, 236, 236);

$cells-background-color: black;
$cells-shadow: rgb(17, 0, 255);
